@import "mixins.less";

@shadeZindex: 1000;
@overlayColor: #000;

.md_overlay {
  .reset();
  .opacity(0);
  position: fixed;
  left: 0;
  top: 0;
  _position: absolute;
  _top: ~"expression(eval(document.documentElement.scrollTop))";
  width: 100%;
  height: 100%;
  z-index: @shadeZindex;
  text-align: center;
  overflow: hidden;
  background-color: @overlayColor;
  visibility: hidden;
  .transition(~'all 0.3s');
}

.md_overlay_show {
  visibility: visible;
  .opacity(80);
}

.md_modal {
  .reset();
  .inline-block();
  vertical-align: middle;
  visibility: hidden;
}

.md_show {
  visibility: visible;
}

.md_modal_verline {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  width: 0;
  font-size: 0;
  line-height: 0;
}

.md_effect_smallBig {
  .scale(0.7);
  .transition(~'all 0.3s');
}

.md_effect_smallBig.md_show {
  .scale(1);
}

.md_effect_slideInRight {
  .translate(20%, 0);
  .transition(~'all 0.3s cubic-bezier(0.25, 0.5, 0.5, 0.9)');
}

.md_effect_slideInRight.md_show {
  .translate(0, 0);
}

.md_effect_slit {
  .translateStyle(preserve-3d);
  .transform(~'translateZ(-3000px) rotateY(90deg)');
  opacity: 0;
}

.md_effect_slit_perspective {
  .perspective(1300px);
}

@-webkit-keyframes slit {
  50% { -webkit-transform: translateZ(-250px) rotateY(89deg); opacity: .5; -webkit-animation-timing-function: ease-out;}
  100% { -webkit-transform: translateZ(0) rotateY(0deg); opacity: 1; }
}

@-moz-keyframes slit {
  50% { -moz-transform: translateZ(-250px) rotateY(89deg); opacity: .5; -moz-animation-timing-function: ease-out;}
  100% { -moz-transform: translateZ(0) rotateY(0deg); opacity: 1; }
}

@-o-keyframes slit {
  50% { -o-transform: translateZ(-250px) rotateY(89deg); opacity: .5; -o-animation-timing-function: ease-out;}
  100% { -o-transform: translateZ(0) rotateY(0deg); opacity: 1; }
}

@keyframes slit {
  50% { transform: translateZ(-250px) rotateY(89deg); opacity: 1; animation-timing-function: ease-in;}
  100% { transform: translateZ(0) rotateY(0deg); opacity: 1; }
}

.md_effect_slit.md_show {
  .animation(~'slit .7s forwards ease-out');
  opacity: 1;
}

