@shadeZindex: 1000;

.reset() {
  margin: 0;
  padding: 0;
  border: 0;
}

.opacity(@opacity) {
  opacity: @opacity / 100;
  filter: ~"alpha(opacity=@{opacity})";
}

.inline-block() {
  *display: inline;
  *zoom: 1;
  _display: inline;
  _zoom: 1;
  display: inline-block;
}

.modalDialogShade {
  .reset();
  .opacity(80);
  position: fixed;
  left: 0;
  top: 0;
  _position: absolute;
  _top: ~"expression(eval(document.documentElement.scrollTop))";
  width: 100%;
  height: 100%;
  z-index: @shadeZindex;
  text-align: center;
  overflow: hidden;
  background-color: #000;
}

.modalDialogShadeHide {
  display: none;
}

.modalDialogShadeShow {
  display: "";
}

.modalDialog {
  .reset();
  .inline-block();
  left: -9999px;
  top: 0;
  vertical-align: middle;
}

.modalDialogHide {
  position: absolute;
}

.modalDialogShow {
  position: static;
}

.modalDialog_verline {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  width: 0;
  font-size: 0;
  line-height: 0;
}

